<% if @products %>

  <h1>Search Products for &lsquo;<%= h(params[:q].strip) %>&rsquo;</h1>
  
  <% if @products.matches_estimated > 0 %>
    <p><%= pluralize @products.matches_estimated, 'product' %> found</p>
  <% end %>
  
  <% if correction = @products.spelling_correction %>
    <p>Did you mean <%= link_to correction, search_path(:q => correction) %>?</p>
    <br/>
  <% end %>

  <% if @products.empty? %>
    <p>Sorry, your search returned no results</p>
  <% else %>
    <%= will_paginate @products, :params => {:q => params[:q]} %>
    <br/>

    <div>
		<%# cycle('normal', 'alternate') %>
          <%= render :partial => 'search_result'%>
    </div>
    <div style="clear:both;"/>
    
    <%= will_paginate @products %>
  <% end %>
  
<% else %>

  <h1>Product Search</h1>

<% end %>
