<% if @products %>

  <h1>Search Products for &lsquo;<%= h(params[:q].strip) %>&rsquo;</h1>
  
  <% if @products.matches_estimated > 0 %>
  <p><%= pluralize @products.matches_estimated, 'product' %> found</p>
  <% end %>
  
  <% if correction = @products.spelling_correction %>
    <p>Did you mean <%= link_to correction, search_path(:q => correction) %>?</p>
    <br/>
  <% end %>

  <% if @products.empty? %>
    <p>Sorry, your search returned no results</p>
  <% else %>
    <% if @products.total_pages > 1 %>
      <div class="pagination">
        <%= paginating_links(@products) %>
      </div>
    <% end %>

    <div>
      <ul class="product-listing">
      <% for product in @products %>
        <li class="product preview" style="width: 40%">
		<%# cycle('normal', 'alternate') %>
          <%= render :partial => 'search_result', :locals => {:product => product} %>
        </li>
      <% end %>
      </ul>
    </div>
    <div style="clear:both;"/>
    
    <% if @products.total_pages > 1 %>
      <div class="pagination">
        <%= paginating_links(@products) %>
      </div>
    <% end %>

  <% end %>

  
<% else %>

  <h1>Product Search</h1>

<% end %>
